<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${home_attr1}">title</title>
</head>
<body>
<h1 th:text="${home_attr2}">text</h1>
<h1 th:text="${persons[1].name}"></h1>
<h1 th:text="${pa1[1].name}"></h1>

<p>resources/templates</p>




</body>
</html>
